{%extends 'base.html'%}
{% block body_block%}
<script>
    var dict = {}
</script>
<br>
<hr>
<p>
<h1 class="text-center">PURCHASED ITEMS</h1>
</p>
<hr>
<br><br>
{% if info %}
<table class="table">
    <tr>
        <th scope="col">
            Food Name
        </th>
        <th scope="col">
            Calories
        </th>
        <th scope="col">
            Protein
        </th>
        <th scope="col">
            Fats
        </th>
        <th scope="col">
            Carbohydrates
        </th>
        <th scope="col">
            Quantity
        </th>
        <th scope="col">
            Delete
        </th>

    </tr>

    {% for tb in info %}

    <tr>
        <td>
            {{tb.food_name}}
        </td>
        <td>
            {{tb.calorie}}
        </td>
        <td>
            {{tb.protein}}
        </td>
        <td>
            {{tb.fat}}
        </td>
        <td>
            {{tb.carbs}}
        </td>
        <td>
            {{tb.quantity}}
        </td>

        <td>
            <button id={{tb.Food_id}} onclick="delete_Row(this);" class="btn btn-primary">X</button>

        </td>
    </tr>


    {% endfor %}

</table>
<br>
<a class="btn btn-primary" href="{% url 'home_app_new:save_purchase' %}">Confirm</a>
{% else %}
<div class="text-center">
    <a href="{%url 'FoodIndex_new:home'%}" class="btn btn-outline-primary"><i class="fas fa-home"></i>Home</a>
    <p>

    <h4>No items purchased!!<i class="far fa-frown-open x"></i></h4>
    </p>
    
    {% endif %}
    <br>
    <br><br><br>
       
    <!--<a href="{%url 'home_app_new:purchase_status'%}" >View your purchase history<i class="fas fa-shopping-cart"></i></a>-->
</div>

<script>
    function delete_Row(what) {
        var m = what.id;
        document.location.href = "{% url 'home_app_new:delete_purchase' 1234 %}".replace(/1234/, m.toString());
    }
</script>



{% endblock %}