{%extends 'base.html'%}
{% block body_block%}

<style>
    #home-btn {
        margin-left: 100%;
        border: 2px solid darkslateblue;
        transform: scale(1.2);
        color: rgb(35, 109, 245) !important;
    }

    #form {
        display: flex;
        flex-wrap: wrap;
        row-gap: 50px;
        justify-content: space-around;
        
    }

    #pie-cont {
        width: 450px;
        height: 450px;
        border: 1px solid black;
        border-radius: 10px;
        padding: 15px;
    }

    #linechart {
        width: 450px;
        height: 450px;
        border: 1px solid black;
        border-radius: 10px;
        padding: 15px;
    }

    #charts {
        display: flex;
        justify-content: space-around;
    }

    .input-fields {
        padding: 10px;
        border-radius: 10px;
        margin-top: 15px;
    }

    #submit-btn {
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 2rem;
    }
</style>

<div class="container">
    <br>
    <h1 class="text-center">Purchase vs Consumption Analysis</h1>
    <br>
    <br>
    <br>
    <form method="POST">
        <div id="form">
            {% csrf_token %}
            {% include 'messages.html' %}
            <div>
                <h3 id="selectdate">Select "From" Date</h3>
                <input class="input-fields" type="date" id="fromdate" name="fromdate" required>
            </div>
            <div>
                <h3 id="selectdate">Select "To" Date</h3>
                <input class="input-fields" type="date" id="todate" name="todate" required>
            </div>
        </div>
        <br><br>
        
        <a href="purchasechart"><button id="submit-btn" class="btn btn-outline-primary" type="submit"
                formaction="purchasechart">Submit</button></a>
    </form>
    <br>
    <h3 class="text-center">Purchase vs Consumption Analysis From '{{fromdate}}' To '{{todate}}'</h3>
    <div id="charts">

        <div id="pie-cont">

            <div id="piechart2_3d"></div>
        </div>
        <div id="linechart">
            <div id="piechart_3d" style="width: 700px; height: 420px"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var data = JSON.parse("{{consumedata|escapejs}}");
    var list = []
    var date1 = data[0]["date"]
    var date2 = data[data.length-1]["date"]
    //var mt = data[0]["meal_type"]
    //console.log(date)
    for (let i = 0; i < data.length; i++) {
        list.push([data[i]["food_name"], parseInt(data[i]["quantity"])])
    }
    console.log(list)
    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {

        var data = google.visualization.arrayToDataTable([
            ["FoodName", "Quantity"],
            ...list
        ]);

        var options = {
            titleTextStyle: {
                fontSize: 20,
                bold: true,
            },
            title: 'Food Consumed Proportions',
            is3D: true,
            width: 420,
            height: 420
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
    }

</script>
<script type="text/javascript">
    var data = JSON.parse("{{purchasedata|escapejs}}");
    var list1 = []
    var date1 = data[data.length-1]["date"]
    var date2 = data[0]["date"]
    //var mt = data[0]["meal_type"]
    //console.log(date)
    for (let i = 0; i < data.length; i++) {
        list1.push([data[i]["food_name"], parseInt(data[i]["quantity"])])
    }
    console.log(list)
    google.charts.load("current", { packages: ["corechart"] })
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        var data = google.visualization.arrayToDataTable([
            ["FoodName", "Quantity"],
            ...list1
        ]);

        var options = {
            titleTextStyle: {
                fontSize: 20,
                bold: true,
            },
            title: 'Food Purchased Proportions',
            is3D: true,
            width: 420,
            height: 420
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart2_3d'));
        chart.draw(data, options);
    }

</script>
{% endblock %}