{%extends 'base.html'%}
{% block body_block%}
<script>
    var dict = {}
</script>
<br>
<hr>
<p>
<h1 class="text-center">CONSUMED ITEMS</h1>
</p>
<hr>
<br><br>
{% if info %}
<table class="table">
    <tr>
        <th scope="col">
            Food Name
        </th>
        <th scope="col">
            Calories
        </th>
        <th scope="col">
            Quantity
        </th>
        <th scope="col">
            Meal Type
        </th>
        <th scope="col">
            Delete
        </th>

    </tr>

    {% for tb in info %}

    <tr>
        <td>
            {{tb.food_name}}
        </td>
        <td>
            {{tb.calorie}}
        </td>
        <td>
            {{tb.quantity}}
        </td>
        <td>
            {{tb.meal_type}}
        </td>
        <script>
            dict["{{tb.id}}"] = "{{tb.food_name}}";
        </script>
        <td>
            <button id="{{tb.food_name}}" onclick="delete_Row1(this);" class="btn btn-primary">X</button>

        </td>
    </tr>


    {% endfor %}

</table>
<a class="btn btn-primary" href="{% url 'home_app_new:save_table' %}">Confirm</a>
{% else %}
<div class="text-center">
    <a href="{%url 'FoodIndex_new:home'%}" class="btn btn-outline-primary"><i class="fas fa-home"></i>Home</a>
    <p>
    <h4>No items consumed!!<i class="far fa-frown-open x"></i></h4>
    </p>

    {% endif %}
    <br>
    <br>
    {% include 'messages.html' %}
    <br>
  
</div>
<script>
    function delete_Row1(what) {
        var n = what.id;
        document.location.href = "{% url 'home_app_new:delete' 1234 %}".replace(/1234/, n.toString());
    }
</script>



{% endblock %}